<%= render partial: 'shared/model_errors', locals: { model: @recipe } %>

<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %><br>
  </p>
  <p>
    <%= f.label :recipe_type_id, 'Tipo da Receita' %>
    <%= f.collection_select(:recipe_type_id, @recipe_types, :id, :name) %><br>
  </p>
  <p>
    <%= f.label :cuisine_id, 'Cozinha' %>
    <%= f.collection_select(:cuisine_id, @cuisines, :id, :name) %>
  </p>
  <p>
    <%= f.label :difficulty, 'Dificuldade' %>
    <%= f.text_field :difficulty %><br>
  </p>
  <p>
    <%= f.label :cook_time, 'Tempo de Preparo' %>
    <%= f.text_field :cook_time %><br>
  </p>
  <p>
    <%= f.label :ingredients, 'Ingredientes' %>
    <%= f.text_field :ingredients %><br>
  </p>
  <p>
    <%= f.label :method, 'Como Preparar' %>
    <%= f.text_field :method %><br>
  </p>
  <%= f.submit label_button %>
<% end %>
