<h1><%= @recipe.title %></h1>

<h3>Detalhes</h3>

<ul>
  <li><%= @recipe.recipe_type.name %></li>
  <li><%= @recipe.cuisine.name %></li>
  <li><%= @recipe.difficulty %></li>
  <li><%= @recipe.cook_time %> minutos</li>
</ul>

<h3>Ingredientes</h3>

<ul>
  <li><%= @recipe.ingredients %></li>
</ul>

<h3>Como Preparar</h3>

<ul>
  <li><%= @recipe.method %></li>
</ul>

<div class="">
  <%= link_to 'Voltar', root_path %>
</div>

<div class="">
  <%= link_to 'Editar', edit_recipe_path %>
</div>
