<%= render partial: 'shared/model_errors', locals: { model: @cuisine } %>

<%= form_for @cuisine do |f| %>
  <div class=''>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %><br>
  </div>
  <p><%= f.submit label_button %></p>
<% end %>
