<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>
<!-- TODO: label para dividir a lista de receitas, das cozinhas e tipos de receitas -->
<% @recipes.each do |recipe| %>
  <h1><%= link_to recipe.title, recipe_path(recipe) %></h1>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos</li>
  </ul>
<% end %>

<% @cuisines.each do |cuisine| %>
  <h1><%= link_to cuisine.name, cuisine_path(cuisine) %></h1>
<% end %>

<% @recipe_types.each do |recipe_type| %>
  <h1><%= link_to recipe_type.name, recipe_type_path(recipe_type) %></h1>
<% end %>

<div class=''>
  <p>
    <%= link_to 'Enviar uma receita', new_recipe_path %>
  </p>
</div>

<div class=''>
  <p>
    <%= link_to 'Cadastrar cozinha', new_cuisine_path %>
  </p>
</div>

<div class=''>
  <p>
    <%= link_to 'Cadastrar tipo de receita', new_recipe_type_path %>
  </p>
</div>
