<%= render partial: 'shared/model_errors', locals: { model: @recipe_type } %>

<%= form_for @recipe_type do |f| %>
  <div class=''>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <p><%= f.submit label_button %></p>
<% end %>
