<h1>Edição de tipo de receita</h1>

<div class=''>
  <%= render partial: 'form', locals: { label_button: 'Editar' } %>
</div>

<div class=''>
  <%= link_to 'Voltar', recipe_type_path(@recipe_type) %>
</div>
