<h1><%= @recipe_type.name %></h1>

<% @recipe_type.recipes.each do |recipe| %>
  <h1><%= recipe.title %></h1>
  <ul>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos</li>
  </ul>
<% end %>

<div class="">
  <%= link_to 'Voltar', root_path %>
</div>

<div class="">
  <%= link_to 'Editar', edit_recipe_type_path(@recipe_type) %>
</div>
